<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title><%= image_title %> — Bitcheese Pictures</title>
    <link rel="stylesheet" href="<%= root %>/static/nbl.css" type="text/css" media="screen" charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel='alternate' type='application/atom+xml' title='Gallery updates' href='index.xml' />
  </head>
  <body>
  <table width='100%'>
  	<tr>
  	<td style='border-width:inherit'>
  	<a href="<%=root%>">root</a> /
  	<% ar = gallery_path.dup; nar = []%>
  	<% until ar.empty? %>
  	<% nar << ar.pop %>
  	<a href="<%= root + "/" + nar.join("/")%>"><%=nar.last%></a>
  	/
  	<% end %>
  	<a href="<%= image_page_url %>"><%= image_title %></a>
  	</td>
  	<td style='text-align:right; border-width:inherit'>
  	[ no Python ]
  	[ no AJAX ]
  	[ no bullshit ]
  	</td>
  	</tr>
  </table>
    
    
    <h1 style="text-align: center"> <%= image_title %> </h1>

<div  style="text-align: center">
<a href="<%= image_url %>">
<img src="<%= image_thumb_url %>" />
</a>
<br />
<%= image_description %>
</div>

<div style="text-align: center">
	<% if defined? prev_image_url %>
		<a href="<%= prev_image_url %>">&lt;&lt;&lt;</a>
	<% else %>
		&lt;&lt;&lt;
	<% end %>
|
	<% if defined? next_image_url %>
		<a href="<%= next_image_url %>">&gt;&gt;&gt;</a>
	<% else %>
		&gt;&gt;&gt;
	<% end %>
</div>


  </body>
</html>